commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_build_app.sh":
    mode: "000755"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash

      . /opt/elasticbeanstalk/env.vars

      sudo mkdir /var/app/current/tmp
      sudo chmod a+w /var/app/current/tmp