 <div class="teeth-wrapper teeth-resizeable">
    <div class="teeth-top">
        <div class="left">
            <div class="tooth-wrap tooth-molar-r tooth-molar-r-18">
                <div class="tooth tooth-t-8 tooth-molar" style="opacity: 1;">
                    <svg class="tooth-surface">
                        <use class="tooth-surface-main" stroke="#a7a9ac" stroke-alignment="inner" stroke-width="0.3" x="0" y="0" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://new.dentaltap.com/public/teeth/teeth.svg#t8-surface" fill="grey">
                        </use>                
                    </svg>
                    <svg class="tooth-crown">
                        <use class="tooth-crown-main" stroke="#a7a9ac" stroke-alignment="inner" stroke-width="0.3" x="0" y="0" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://new.dentaltap.com/public/teeth/teeth.svg#t8-crown" fill="grey"></use>
                    </svg>
                    <svg class="tooth-root" ng-reflect-ng-style="[object Object]">
                        <use fill="#f2ecbe" stroke="#a7a9ac" stroke-alignment="inner" stroke-width="0.3" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://new.dentaltap.com/public/teeth/teeth.svg#t8-root"></use>
                    </svg>
                    <div class="tooth-number">
                        <div class="hint-circle">
                            <span>
                                18
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tooth-wrap tooth-molar-r tooth-molar-r-17">
                <div class="tooth tooth-t-7 tooth-molar" style="opacity: 1;">
                    <svg class="tooth-surface">
                        <use class="tooth-surface-main" stroke="#a7a9ac" stroke-alignment="inner" stroke-width="0.3" x="0" y="0" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://new.dentaltap.com/public/teeth/teeth.svg#t8-surface" fill="grey">
                        </use>                
                    </svg>
                    <svg class="tooth-crown">
                        <use class="tooth-crown-main" stroke="#a7a9ac" stroke-alignment="inner" stroke-width="0.3" x="0" y="0" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://new.dentaltap.com/public/teeth/teeth.svg#t8-crown" fill="grey"></use>
                    </svg>
                    <svg class="tooth-root" ng-reflect-ng-style="[object Object]">
                        <use fill="#f2ecbe" stroke="#a7a9ac" stroke-alignment="inner" stroke-width="0.3" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://new.dentaltap.com/public/teeth/teeth.svg#t8-root"></use>
                    </svg>
                    <div class="tooth-number">
                        <div class="hint-circle">
                            <span>
                                18
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>